@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

/* 1. VARIABLES DE DISEÑO */
:root {
  --primary-color: #00FFFF;
  --secondary-color: #ffffff;
  --pink-color: #E515FF;
  --green-color: #00FF67;
  --font-family-base:  "Space Mono", monospace;
  --font-family-sec: "TikTok Sans", sans-serif;
}

/* 2. ESTILOS GENERALES */
body {
  font-family: var(--font-family-base);
  color: #ffffff;
  background-color: #00000A;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.text-degrade {
  background: linear-gradient(90deg, #E515FF, #9439FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 3. NAVBAR */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 10px 0;
}

.navbar.scrolled {
  background-color: #00000A;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

.navbar-brand:hover {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

.nav-link {
  color: var(--primary-color);
  background-color: #00000A;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
  transition: color 0.3s;
  padding: 3px 10px;
  border: 1px solid #00FFFF;
  border-radius: 6px;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: #000;
  border: 1px solid var(--primary-color);
}


/* 4. HERO */
.row.p-5 {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
}

.h1 {
  font-size: 4.5rem;
  margin-bottom: 5px;
  font-weight: 700;
  color: var(--primary-color);
}

.h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--primary-color);
}

.h3 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  font-weight: 700;
  color: var(--primary-color);
}

.h5 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #E515FF;
}

.h6 {
  font-size: 4rem;
  font-weight: 400;
  color: #E515FF;
}

p {
  font-family: "TikTok Sans", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

.bghero {
  background: url("assets/fotos/fondos/fondoherow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bguniverso {
  background: url("assets/fotos/fondos/fondouniversow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bgplan1 {
  background: url("assets/fotos/fondos/fondoplanesw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bgincluye {
  background: url("assets/fotos/fondos/fondoqueincluyew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bggalery {
  background: url("assets/fotos/fondos/fondogaleriaw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bgcontact {
  background: url("assets/fotos/fondos/fondocontact.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bgcta {
  background: url("assets/fotos/fondos/fondocta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bgdetalle {
  background: url("assets/fotos/fondos/fondoherodetalle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bggeek {
  background: url("assets/fotos/fondos/bggeekswap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bgbenef {
  background: url("assets/fotos/fondos/bgbeneficios.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bgitems {
  background: url("assets/fotos/fondos/bgitems.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1200px;
}

/* Botones */
.btn {
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btn-dark {
  background: linear-gradient(90deg, #E515FF, #9439FF);
  border: none;
}

.btn-dark:hover {
  background: linear-gradient(90deg, #B100AF, #7100A3);
  transition: all 1s ease;
}

.btnplan {
  background-color: #000;
  border-radius: 10px;
  padding: 10px 30px;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btnplan:hover {
  background-color: var(--primary-color);  
}

/* 5. SECCIONES */
section {
  padding: 0px 10px;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
}

section h2::after {
  content: "";
  display: block;
  width: 60px;
  margin: 20px auto 0;
}

/* 6. CARDS */
.card {
  max-width: 380px;
  border: none;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--green-color);
}

.card-test {
  border: 1px solid #00FFFF;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-test:hover {
  transform: translateY(-5px)
}

.padding-card {
  padding: 40px;
}

.padding-items {
  padding-left: 150px;
  padding-right: 150px;
}

.masonry__container {
  column-count: 4;
  column-gap: 1rem;
}

.masonry__item {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.card-text {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color:#fff;
}

/* 7. TESTIMONIOS */
.blockquote {
  color: #000;
  border-left: 4px solid var(--primary-color);
  padding: 20px;
  border-radius: 5px;
}

/* 8. FORMULARIO */
form .form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
}

form button.btn-primary {
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  border-radius: 50px;
  margin-top: 20px;
}

/* PREG FRECUENTES */
/* Fondo del contenedor completo */
.accordion {
  background-color: #00000A;
  border-radius: 0px;
}

/* Cada ítem */
.accordion-item {
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background-color: #00000A;
  border-radius: 0px;
  margin-bottom: 1rem;
}

/* Botón (pregunta) */
.accordion-button {
  background-color: #00000A;
  color: var(--secondary-color);
  font-family: "TikTok Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  box-shadow: none;
}

/* Botón cuando está activo (abierto) */
.accordion-button:not(.collapsed) {
  color: var(--secondary-color);
  background-color: #00000A;
}

/* Flechita (ícono) */
.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(56%) sepia(17%) saturate(3330%) hue-rotate(165deg) brightness(102%) contrast(95%);
}

/* Respuesta (cuerpo) */
.accordion-body {
  background-color: #063357;
  font-family: "TikTok Sans", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #ffffff;
  padding: 1rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

/* 9. FOOTER */
footer {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 0.9rem;
}

/* 10. IMÁGENES */
img.rounded-circle {
  border: 5px solid var(--pink-color);
}

.img-gallery:hover {
  transform: scale(1.05);
  transition: transform 0.3s
}

/* 11. GALERÍA */
.container .row img {
  transition: transform 0.3s, box-shadow 0.3s;
}

.container .row img:hover {
  transform: scale(1.05);
}

/* ============================== */
/* CUSTOM HELPER CLASSES */
/* ============================== */

/* ============================== */
/* CUSTOM HELPER CLASSES */
/* ============================== */

/* TITULOS */
.h1-custom {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--primary-color);
}

.h2-custom {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--pink-color);
}

.h3-custom {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--green-color);
}

.h4-custom {
  font-size:0.5rem;
  font-weight: 400;
  color: var(--primary-color);
}

.h5-custom {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.h6-custom {
  font-size: 4rem;
  font-weight: 400;
  color: #000;
}

.h62-custom {
  font-size: 4rem;
  font-weight: 400;
  color: (--pink-color);
}

.h7-custom {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  line-height: 1.6;
}

.h8-custom {
  font-size: 1.25rem;
  font-weight: 400;
  color: #616161;
  line-height: 1.6;
}

.h9-custom {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.6;
}

.h52-custom {
  font-size: 2.5rem;
  font-weight: 700;
  color: (--pink-color);
}

.titulo-espaciado {
  margin-top: 200px;
}

/* PÁRRAFOS Y TEXTOS */
.p-custom {
  font-family: (--font-family-sec);
  font-size: 1.25rem;
  color: var(--primary-color);
  line-height: 1.6;
}

.p2-custom {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  line-height: 1.6;
}

.p3-custom {
  font-size: 1.5rem;
  color: #4e4e4e;
  line-height: 1.6;
}

.lead-custom {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--secondary-color);
}

.linea-rosa {
  border: none;             
  height: 3px;              
  background: linear-gradient(90deg, #E515FF, #9439FF);  
  opacity: 100%;
  margin: 2rem 0;           
}

/* FONDOS E IMÁGENES */
.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay-light {
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
}

.bg-overlay-dark {
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  color: #fff;
}

.bg-celeste {
  background-color: #063357;
}

.bg-pink {
  background-color: #370042;
}

.bg-black {
  background-color: #00000A;
}

.img-rounded {
  border-radius: 8px;
  overflow: hidden;
}

/* TEXTOS ADICIONALES */
.text-uppercase-custom {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-bold {
  font-weight: 700;
}

.text-muted-custom {
  color: #6c757d;
}

/* ESPACIADOS */
.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-spacing-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-spacingh {
  padding-left: 100px;
  padding-right: 100px;
}


/* ============================== */
/* MEDIA QUERIES */
/* ============================== */

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .masonry__container {
    column-count: 3;
  }
}

@media screen and (max-width: 768px) {
  .masonry__container {
    column-count: 2;
  }
}

@media screen and (max-width: 576px) {
  .masonry__container {
    column-count: 1;
  }
}

@media screen and (max-width: 576px) {
  .padding-items {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .bgincluye {
    background: url("assets/fotos/fondos/vertical/vertincluye-11.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .bghero {
    background: url("assets/fotos/fondos/vertical/fondoherovert2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

@media screen and (max-width: 576px) {
  .h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-weight: 700;
    color: var(--primary-color);
  }
}

@media screen and (max-width: 576px) {
  .h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: 700;
    color: var(--primary-color);
  }
}

@media screen and (max-width: 576px) {
  .bguniverso {
    background: url("assets/fotos/fondos/vertical/fondouniversovert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .bgplan1 {
  background: url("assets/fotos/fondos/vertical/fondoplanesvert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .bgincluye {
  background: url("assets/fotos/fondos/vertical/fondoincluyevert.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  }
}

@media screen and (max-width: 576px) {
  .bggalery {
  background: url("assets/fotos/fondos/vertical/galleryvert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  }
}

@media screen and (max-width: 576px) {
  .bgcontact {
    background: url("assets/fotos/fondos/vertical/contactvert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .bggeek {
    background: url("assets/fotos/fondos/vertical/bggeekswapvert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

@media screen and (max-width: 576px) {
  .bgbenef {
    background: url("assets/fotos/fondos/vertical/bgbeneficiosvert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media screen and (max-width: 576px) {
  .bgdetalle {
    background: url("assets/fotos/fondos/vertical/detallevert.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
  }
}

@media screen and (max-width: 576px) {
  .bgitems {
    background-color: #00000A;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/* Personalizar las 3 linitas del botón hamburguesa */
.navbar-toggler {
  border: none;
  padding: 0.25rem 0.75rem;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  background: none;
  border: none;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon div {
  content: '';
  display: block;
  background-color: var(--primary-color);
  height: 2px;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Estructura interna */
.navbar-toggler-icon div {
  background-color: var(--primary-color);
}


/*Hover icons*/

.icon1 {
  content: url("assets/gif/icon1.jpg");
  transition: 0.3s ease-in-out;
}

.icon1:hover {
  content: url("assets/gif/gif1.gif");
}

.icon2 {
  content: url("assets/gif/icon2.jpg");
  transition: 0.3s ease-in-out;
}

.icon2:hover {
  content: url("assets/gif/gif2.gif");
}

.icon3 {
  content: url("assets/gif/icon3.jpg");
  transition: 0.3s ease-in-out;
}

.icon3:hover {
  content: url("assets/gif/gif3.gif");
}

.icon4 {
  content: url("assets/gif/icon4.jpg");
  transition: 0.3s ease-in-out;
}

.icon4:hover:hover {
  content: url("assets/gif/gif4.gif");
}

.icon5 {
  content: url("assets/gif/icon5.jpg");
  transition: 0.3s ease-in-out;
}

.icon5:hover:hover {
  content: url("assets/gif/gif5.gif");
}

.icon6 {
  content: url("assets/gif/icon6.jpg");
  transition: 0.3s ease-in-out;
}

.icon6:hover:hover {
  content: url("assets/gif/gif6.gif");
}

.icon7 {
  content: url("assets/gif/icon7.jpg");
  transition: 0.3s ease-in-out;
}

.icon7:hover:hover {
  content: url("assets/gif/gif7.gif");
}